.navigationPlate{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 130px;

  @media (max-width: 1366px) {width: 112px}
  @media (max-width: 1024px) {width: 93px}
  @media (max-width: 320px) {width: 74px}
}