:root {
  //base colors
  --background: #22003d;
  --sphere1: #005f15;
  --sphere2: #7200b5;
  --sphere3: #3900aa;
  --sphereNone: #472265;
  --accentButtonLeft: #005f15;
  --accentButtonRight: #007a31;
  --accentButtonLeftHover: #01390e;
  --accentButtonRightHover: #006026;
  --accentButtonLeftActive: #122800;
  --accentButtonRightActive: #004b1e;
  --lightGlass: #ffffff;
  --darkGlass: #000000;
  --mainText: #ffffff;

  //start page
  --mainTopCenterWaveLeft: #c54aff;
  --mainTopCenterWaveRight: #7008a0;

  --mainTopLeftWaveLeft: #7c00b7;
  --mainTopLeftWaveRight: #2100a6;

  --mainBottomLeftWaveLeft: #c54aff;
  --mainBottomLeftWaveRight: #7008a0;

  --mainBottomCenterWaveLeft: #7c00b7;
  --mainBottomCenterWaveRight: #2100a6;

  --mainLinearWave1: #2e0053;
  --mainLinearWave2: #2c004f;
  --mainLinearWave3: #2a004b;
  --mainLinearWave4: #280047;
  --mainLinearWave5: #260043;
  --mainLinearWave6: #23003f;
  --mainLinearWave7: #21003c;
}
