:root{
    //base colors
    --background: #22003D;
    --sphere1: #005F15;
    --sphere2: #7200B5;
    --sphere3: #3900AA;
    --accentButtonLeft: #005F15;
    --accentButtonRight: #007A31;
    --accentButtonLeftHover: #01390E;
    --accentButtonRightHover: #006026;
    --accentButtonLeftActive: #122800;
    --accentButtonRightActive: #004B1E;
    --lightGlass: #FFFFFF;
    --darkGlass: #000000;
    --mainText: #FFFFFF;

    //start page
    --mainTopCenterWaveLeft: #C54AFF;
    --mainTopCenterWaveRight: #7008A0;

    --mainTopLeftWaveLeft: #7C00B7;
    --mainTopLeftWaveRight: #2100A6;

    --mainBottomLeftWaveLeft: #C54AFF;
    --mainBottomLeftWaveRight: #7008A0;

    --mainBottomCenterWaveLeft: #7C00B7;
    --mainBottomCenterWaveRight: #2100A6;

    --mainLinearWave1: #2E0053;
    --mainLinearWave2: #2C004F;
    --mainLinearWave3: #2A004B;
    --mainLinearWave4: #280047;
    --mainLinearWave5: #260043;
    --mainLinearWave6: #23003F;
    --mainLinearWave7: #21003C;
}