.waveSvg {
  position: absolute;
  width: 100%;
  bottom: 300px;
}

.line1 {
  stroke: var(--mainLinearWave1);
}
.line2 {
  stroke: var(--mainLinearWave2);
}
.line3 {
  stroke: var(--mainLinearWave3);
}
.line4 {
  stroke: var(--mainLinearWave4);
}
.line5 {
  stroke: var(--mainLinearWave5);
}
.line6 {
  stroke: var(--mainLinearWave6);
}
.line7 {
  stroke: var(--mainLinearWave7);
}
