.logo{
    font-family: 'Rubik Mono One';
    font-size: 82px;
    color: var(--mainText);
    width: 480px;
    @media (max-width: 1366px) {
        font-size: 58px;
    }
    @media (max-width: 1024px) {
        font-size: 52px;
    }
    @media (max-width: 768px) {
        width: 318px;
    }
    @media (max-width: 480px) {
        width: 240px;
        font-size: 42px;
    }
    @media (max-width: 320px) {
        font-size: 32px;
    }
}