.waves{
    position: absolute;
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
    background-color: aqua;
    @media (max-width: 1366px) {
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
    }
    @media (max-width: 768px) {
        top: 22px;
        left: 22px;
        right: 22px;
        bottom: 22px;
    }
    @media (max-width: 480px) {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
    @media (max-width: 320px) {
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
    }
}