.underLogo{
    font-family: 'Russo One';
    font-size: 22px;
    color: var(--mainText);
    letter-spacing: 0.88px;
    margin-top: 11px;
    @media (max-width: 1366px) {
        margin-top: 30px;
        font-size: 18px;
    }
    @media (max-width: 1024px) {
        margin-top: 19px;
        font-size: 16px;
    }
    @media (max-width: 768px) {
        margin-top: 29px;
        font-size: 16px;
    }
    @media (max-width: 480px) {
        margin-top: 25px;
        font-size: 14px;
    }
    @media (max-width: 320px) {
        margin-top: 9px;
        font-size: 10px;
    }
}